h1
{
	color: #000099;
	font-size: 48px;
	font-family: verdana;
  	margin: 10px auto;
}

.img
{
	width: 550px;
	height: 400px;
	display: block;
  	margin: 10px auto;
}

h3,h5
{
	color: #0033ff;
	font-size: 30px;
	font-family: arial;
}

p,li
{
	color: #0099ff;
	font-size: 16px;
}
body
{
	background: url(img/bg.jpg); 
}

h4
{
	text-align: center;
	font-family: arial;
	font-weight: bold;
}

